page-home {
    /*#logo{
        width: 50%;
        display: block;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto; 
    }*/

    ion-card-title{
        font-weight: bold;
        text-align: center;
    }

    #button{
        display: block;
        margin: 0 auto;
    }

    p:first-of-type{
        padding-bottom: 15px;
    }
}
